# Check if the module for rewriting is on.
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ Public/$1 [L,E=REDIRECT_URL:$1]
</IfModule>

# Set the error document.
ErrorDocument 400 https://website.tld/error?type=400
ErrorDocument 401 https://website.tld/error?type=401
ErrorDocument 402 https://website.tld/error?type=402
ErrorDocument 403 https://website.tld/error?type=403
ErrorDocument 404 https://website.tld/error?type=404
ErrorDocument 500 https://website.tld/error?type=500
